/*@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Grandstander', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/* Header and nav */

header {
    position: relative;
    width: 100%;
}

.flex-header {
    width: 100%;
    color: #fff;
    background-color: #333;
}

.flex-header .content-header {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item.logo {
    height: 120px;
    display: flex;
    margin-left: 3%;
    align-items: center;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.item.logo:hover {
    opacity: 1;
}

.item.logo img {
    width: 120px;
    border: 0;
    border-top-left-radius: 100px;
    border-left: 10px solid brown;
    box-shadow: 4px 0px 4px #fff;
    transition: all 0.3s ease-in-out;
}

.item.logo img:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

.item.logo h1 {
    font-size: 60px;
    margin-left: 10px;
    border: 0;
    padding: 0 10px;
    box-shadow: 2px 4px 9px brown;
}

.item.berger {
    margin-right: 3%;
}

.item.berger i {
    font-size: 35px;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.item.berger i:hover {
    cursor: pointer;
    opacity: 0.3;
    transform: rotate(180deg);
    font-size: 38px;
}

nav {
    width: 100%;
}

.flex-nav {
    margin: 0 auto;
    width: 60%;
}

.content-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.content-nav .item {
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 4px solid #333;
}

.content-nav .item:last-child {
    margin-bottom: 0;
}

.content-nav .item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333;
    opacity: 1;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.content-nav .item a:hover {
    border-bottom: 3px solid;
    padding-bottom: 2px;
    opacity: 0.6;
}

.active {
    display: none;
}

@media screen and (max-width:190px) {
    .flex-header {
        display: none;
    }
}

@media screen and (max-width:345px) {
    .active {
        display: flex;
    }
    .berger {
        display: none;
    }
}

@media screen and (max-width:345px) {
    .item.logo img {
        display: none;
    }
}

@media screen and (min-width: 685px) {
    .berger {
        display: none;
    }
    .active {
        display: block;
    }
    .flex-nav {
        width: 100%;
        background-color: rgba(0, 255, 255, 0.473);
    }
    .content-nav {
        width: 100%;
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .content-nav .item {
        margin: 0;
        padding: 0;
        margin-right: 3%;
        border: 0;
    }
    .content-nav .item a {
        font-size: 18px;
        font-weight: 700;
    }
}

@media screen and (min-width:960px) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 45px;
    }
    .flex-nav {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
    }
    .content-nav {
        width: 60%;
        background-color: rgba(0, 255, 255, 0.473);
    }
    .content-nav .item {
        border-right: 3px solid #333;
        padding: 8px;
        transition: all 0.3s ease-in-out;
    }
    .content-nav .item:hover {
        transform: rotate(360deg);
    }
    .content-nav .item a {
        border: none;
    }
    .content-nav .item a:hover {
        border: none;
    }
}

/* Blogs page */

.flex-blogs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-blogs .item-blogs {
    width: 260px;
    height: 260px;
    margin: 20px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.flex-blogs .item-blogs:hover {
    opacity: 0.4;
}

.flex-blogs .item-blogs h4 {
    text-align: center;
    margin-bottom: 10px;
}

.flex-blogs .item-blogs img {
    max-width: 260px;
    width: 100%;
    max-height: 260;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 20px 30px #333;
}

/* modal popup */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content object {
    margin-right: 20px;
}

.modal-content span {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.modal-content span:hover {
   opacity: 0.3;
}